################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.suo
*.ipch
*.opendb
.vs/*
*.sqlite
*.exe
